<a href="https://colab.research.google.com/github/kaz-morita/python-learning/blob/master/20200422_python_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python問題集_入門編

# 問1

*   Pythonに 8//3 を計算させると、いくらになるか、確認しよう
*   ヒント：「//」は整数の割り算で、小数点以下は切り捨て

In [3]:
ans_1 = 8 // 3
print(ans_1)

# printの中に計算式を直接書いてもOK
print(8//3)

2
2

その他の割り算
* 通常の割り算：/
* 割り算の余り：%

In [2]:
ans_1_1 = 8 / 3
print('通常の割り算：',ans_1_1)
ans_1_2 = 8 % 3
print('割り算の余り：',ans_1_2)

通常の割り算： 2.6666666666666665
割り算の余り： 2

# 問2

*   "apple"という文字列の長さを表示させてみよう
*   ヒント：組み込み関数を使う

In [0]:
ans_2 = len("apple")
print(ans_2)

5

* 組み込み関数「len()」は文字列の長さを数える。
* 実は文字列だけでなく、リストや辞書の長さも数える。

In [6]:
ans_2_1 = [1,1,2,3,5,8,13,21,34,55,89,144]
print('配列の長さ：',len(ans_2_1))
ans_2_2 = {1:'America', 39:'Italia', 86:'China'}
print('辞書の長さ：',len(ans_2_2))

配列の長さ： 12
辞書の長さ： 3

# 問3

*   ['apple', 'orange', 'banana', 'peach']というリストの３番目の要素を表示させてみよう
*   ヒント：リストの添え字（インデックス）は0から始まる

In [7]:
ans_3 = ['apple', 'orange', 'banana', 'peach']
print(ans_3[2])

banana

* リストの特定の値の場所（インデックス）を取得：index()
* リスト内に同じ値がある場合は注意が必要：[参考記事（ググっただけです）](https://note.nkmk.me/python-list-index/)

In [9]:
# 'banana'のインデックス番号を取得
ans_3_1 = ans_3.index('banana')
print(ans_3_1)

2

# 問4

*   'zero,one,twe,three'という文字列を、','で区切って、短い文字列のリストを作り、それをそのまま表示させよう
*   ヒント：文字列型のメソッドを使う

In [12]:
ans_4 = 'zero,one,twe,three'
ans_4_list = ans_4.split(',')
print(ans_4_list)

['zero', 'one', 'twe', 'three']

* 文字列を区切り、リストにしてくれる：split()

In [13]:
# ans_4自体はリストではない、ひとかたまりの文字列。print出力の違いを確認。
print(ans_4)
print(ans_4_list)

zero,one,twe,three
['zero', 'one', 'twe', 'three']

# 問5

*   変数xの値が負の値であれば'negative'と、そうでなければ'non-negative'と表示させるif文を書いてみよう
*   ヒント：if ～ else分を使う

In [0]:
x = -5
if x < 0:
    print('negative')
else:
    print('non-negative')

negative

In [0]:
#　任意の数字を入力する
n = int(input('数字を入力してください：'))
if n < 0:
    print('negative')
else:
    print('non-negative')

数字を入力してください：-4
negative

* if　～　else　の間に、elifを挟み、複数の条件を処理できる
* 負の値であれば"negative"、正の値であれば"positive"、どちらでもなければ、"zero"

In [23]:
n = int(input('数字を入力してください：'))
if n < 0:
    print('negative')
elif n > 0:
    print('positive')
else:
    print('zero')

数字を入力してください：456
positive

# 問6

*   11から20までの自然数を、一つづつ、開業しながら表示させるforループを書いてみよう
*   ヒント：range関数を使うとよい

In [0]:
for i in range(11,21):
    print(i)

11
12
13
14
15
16
17
18
19
20

* range(11,21)　：　終わりの値（２１）は含まない
* 一つ飛ばし（奇数だけ）を表示する場合、三つ目の引数に「増分」の値を指定する。　range(11,21,2)

In [24]:
for i in range(11,21,2):
    print(i)

11
13
15
17
19

# 問7

*   与えられた数を2倍して返す関数を書き、それに適当な値を渡して呼び出すプログラムを書いてみよう
*   ヒント：returnを使って値を返すのを忘れないように。

In [25]:
# 受け取った値（x）を２倍してyに入れ、yの値を、呼び出し元に返す（return）関数
def double_func(x):
    y = x * 2
    return y

# 関数に「４」を渡すと、「８」が返ってくる
ans_7 = double_func(4)
print(ans_7)

8

In [30]:
#  関数の中でｙに入れなくても、xの２倍の値を直接返す（return）書き方もあり。
def double_func2(x):
    return x * 2

ans_7x = double_func2(5)
print(ans_7x)

10

In [28]:
def double_func2(x):
    return x * 2

# リストの各要素を２倍して出力
x = [1,2,3,4,5]
for i in x:
    print(double_func2(i))

2
4
6
8
10