<a href="https://colab.research.google.com/github/kaz-morita/python-learning/blob/master/20200422_python_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python問題集

問1


*   1000以上2000以下の整数のうち、
*   7で割り切れ、かつ、5で割り切れないものをすべて、
*  「,」で区切って画面に表示してみよう。

In [0]:
# 1000以上2000以下のリストを作る
n_list = list(range(1000,2001))

# 7で割り切れる数字を抜き出して、新たなリストを作る
n7_list = []
for i in n_list:
    if (int(i) % 7) == 0:
        n7_list.append(i)
        
# print(n7_list)

# 7で割り切れるリストから、5で割り切れないものを抜き出して、新たなリストを作る
n7_5_list = []
for j in n7_list:
    if (int(j) % 5) != 0:
        n7_5_list.append(j)
print(n7_5_list)

[1001, 1008, 1022, 1029, 1036, 1043, 1057, 1064, 1071, 1078, 1092, 1099, 1106, 1113, 1127, 1134, 1141, 1148, 1162, 1169, 1176, 1183, 1197, 1204, 1211, 1218, 1232, 1239, 1246, 1253, 1267, 1274, 1281, 1288, 1302, 1309, 1316, 1323, 1337, 1344, 1351, 1358, 1372, 1379, 1386, 1393, 1407, 1414, 1421, 1428, 1442, 1449, 1456, 1463, 1477, 1484, 1491, 1498, 1512, 1519, 1526, 1533, 1547, 1554, 1561, 1568, 1582, 1589, 1596, 1603, 1617, 1624, 1631, 1638, 1652, 1659, 1666, 1673, 1687, 1694, 1701, 1708, 1722, 1729, 1736, 1743, 1757, 1764, 1771, 1778, 1792, 1799, 1806, 1813, 1827, 1834, 1841, 1848, 1862, 1869, 1876, 1883, 1897, 1904, 1911, 1918, 1932, 1939, 1946, 1953, 1967, 1974, 1981, 1988]

In [2]:
# よりシンプルな回答
for i in range(1000,2001):
    if (i % 7 == 0)and(i % 5 != 0):
        print('{},'.format(i), end="")

1001,1008,1022,1029,1036,1043,1057,1064,1071,1078,1092,1099,1106,1113,1127,1134,1141,1148,1162,1169,1176,1183,1197,1204,1211,1218,1232,1239,1246,1253,1267,1274,1281,1288,1302,1309,1316,1323,1337,1344,1351,1358,1372,1379,1386,1393,1407,1414,1421,1428,1442,1449,1456,1463,1477,1484,1491,1498,1512,1519,1526,1533,1547,1554,1561,1568,1582,1589,1596,1603,1617,1624,1631,1638,1652,1659,1666,1673,1687,1694,1701,1708,1722,1729,1736,1743,1757,1764,1771,1778,1792,1799,1806,1813,1827,1834,1841,1848,1862,1869,1876,1883,1897,1904,1911,1918,1932,1939,1946,1953,1967,1974,1981,1988,

問2


*   「,」で区切られた複数の単語の列を、
    *  例："with,go,apple,late,set"
*  一つの長い文字列として、キーボード入力で受け取り、
*  それらの単語を辞書式順に並び変えてから、
*  やはり「,」で区切られた単語の列として、
*  画面に表示してみよう。
    *  例："apple,go,late,set,with"

In [0]:
s = input("単語の列を入力：")
s_list = list(s.split(','))
new_s_list = sorted(s_list)

##↓の出力は求められている答えとちょっと違う！
# print(s_list) 

# listを文字列に変換する「join()」を使う。
print(','.join(new_s_list))

単語の列を入力：with,go,apple,late,set
apple,go,late,set,with

問3


*   「,」で区切られた複数の単語の列を、
    *  例："with,go,apple,late,set"
*  一つの長い文字列として、キーボード入力で受け取り、
*  各々の単語をキー(key)とし、
*  その単語の長さを値(value)とするような辞書を作り、
*  その辞書をそのまま画面に表示させてみよう

In [0]:
s = input("単語の列を入力：")
#単語を「key」リスト化
k_list = list(s.split(','))
#単語の長さを「value」リスト化
v_list = []
for i in k_list:
    v_list.append(len(i))

##それぞれのリストを出力してみる
# print(k_list)
# print(v_list)

ans_3 = {}
for j in range(len(k_list)):
    ans_3[k_list[j]]=v_list[j] #辞書「ans_3」に、キー：k_listの0番目の値（with）と、バリュー：v_listの0番目の値（4）を、追加。以降、リストの最後まで繰り返す。
print(ans_3)

単語の列を入力：with,go,apple,late,set
{'with': 4, 'go': 2, 'apple': 5, 'late': 4, 'set': 3}

問４


*   数をユーザに当てさせるゲームを作ろう。
    *    プログラムの初めに0以上99以下の整数の乱数を発生させる
    *    この数を、以下のようにしてユーザに当てさせる。
    *    ユーザは毎回キーボードから数を入力する。
    *    もしその数が正解なら、正解である旨を表示してプログラムは終了。
    *    そうでないなら、正解よりも大きな値か、あるいは小さな値かを、ヒントとして画面に表示する。
    *    正解にだどりつくまで、ユーザに数を入力させる。

In [0]:
import random
target_n = random.randint(0,99)

n = int(input('数字を当ててください：'))
while target_n != n:
    if n > target_n:
        print('ヒント：もっと小さいです')
    elif n < target_n:
        print('ヒント：もっと大きいです')
    n = int(input('数字を当ててください：'))
print('正解')

数字を当ててください：58
ヒント：もっと小さいです
数字を当ててください：39
ヒント：もっと小さいです
数字を当ててください：20
ヒント：もっと小さいです
数字を当ててください：10
ヒント：もっと大きいです
数字を当ててください：15
正解

問5


*   キーボード入力で、
*   「0」と「1」だけから成る文字列を受け取り、
*   その文字列を2進数の数と解釈して、
*    同じ値を8進数で表した場合の表記を文字列として作り、
*    画面に表示させてみよう。

In [11]:
b = input()

## １と０の文字列を１０進数の数値に計算。
b_list = list(b[::-1])
number = 0
for i in range(len(b_list)):
    number += int(b_list[i]) * (2 ** i)
# print(number)

oct_number = oct(number)
print(oct_number)

0111
0o7

In [10]:
b = input('１と０だけの文字列を入力：')

# 文字列ｂを、2進数の数値に変換
b_num = int(b, 2)
print(b_num)

# b_numの型を確認　＝＞ int型
print(type(b_num))

# 数値を8進数の文字列に変換
oct_str = oct(b_num)
print('8進数表記：',oct_str)
print('10進数表記：',b_num)

１と０だけの文字列を入力：0111
7
<class 'int'>
8進数表記： 0o7
10進数表記： 7

In [0]:
111