<a href="https://colab.research.google.com/github/kaz-morita/python-learning/blob/master/20200422_python_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python問題集_入門編

問１


*   Pythonに 8//3 を計算させると、いくらになるか、確認しよう
*   ヒント：「//」は整数の割り算で、小数点以下は切り捨て

In [0]:
ans_1 = 8 // 3
print(ans_1)

2

In [0]:
# 通常の割り算
ans_1x = 8 / 3
print(ans_1x)

2.6666666666666665

問２


*   "apple"という文字列の長さを表示させてみよう
*   ヒント：組み込み関数を使う

In [0]:
ans_2 = len("apple")
print(ans_2)

5

問３


*   ['apple', 'orange', 'banana', 'peach']というリストの３番目の要素を表示させてみよう
*   ヒント：リストの添え字（インデックス）は0から始まる

In [0]:
ans_3 = ['apple', 'orange', 'banana', 'peach']
print(ans_3[2])

banana

問４


*   'zero,one,twe,three'という文字列を、','で区切って、短い文字列のリストを作り、それをそのまま表示させよう
*   ヒント：文字列型のメソッドを使う

In [0]:
ans_4 = 'zero,one,twe,three'
ans_4_list = list(ans_4.split(','))
print(ans_4_list)

['zero', 'one', 'twe', 'three']

In [0]:
# ans_4自体はリストではない、ひとかたまりの文字列
print(ans_4)

zero,one,twe,three

問５


*   変数xの値が負の値であれば'negative'と、そうでなければ'non-negative'と表示させるif文を書いてみよう
*   ヒント：if ～ else分を使う

In [0]:
x = -5
if x < 0:
    print('negative')
else:
    print('non-negative')

negative

In [0]:
#　任意の数字を入力する
n = int(input('数字を入力してください：'))
if n < 0:
    print('negative')
else:
    print('non-negative')

数字を入力してください：-4
negative

問6


*   11から20までの自然数を、一つづつ、開業しながら表示させるforループを書いてみよう
*   ヒント：range関数を使うとよい

In [0]:
for i in range(11,21):
    print(i)

11
12
13
14
15
16
17
18
19
20

問7


*   与えられた数を2倍して返す関数を書き、それに適当な値を渡して呼び出すプログラムを書いてみよう
*   ヒント：returnを使って値を返すのを忘れないように。

In [0]:
def double_func(x):
    y = x * 2
    return y

ans_7 = double_func(4)
print(ans_7)

8

In [0]:
#　よりシンプルに書く
def double_func2(x):
    return x * 2

ans_7x = double_func2(5)
print(ans_7x)

# 表示（print）も一行で書ける
print(double_func2(13))

10
26